.profilebox{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile{
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile h3{
margin: 15px 0px 15px 0px;
}
.profilepicture{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-image: url('https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?cs=srgb&dl=pexels-masha-raymers-2726111.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
 
}
.profileIcon{
    border:1px solid grey;
    text-align: center;
    border-radius: 0.8rem;
    width: 100px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileIcon p{
    font-weight: 500;
}
/* Balancebox */
.balancebox{
    margin: 2px 0px 20px 0px;
}
.balancebox h2{
    font-size: 35px;
    color: var(--Balance);
}
/* Recentpayment */
.recenttitle{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.Avataruser{
    display: flex;
    flex-direction: row;
}
.Avataruser div{
    margin: 0px 4px 0px 4px;
}
.FirstAvatar,.SecondAvatar,.ThirdAvatar,.FourthAvatar{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.FirstAvatar{
    background-image: url('https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?cs=srgb&dl=pexels-italo-melo-2379004.jpg&fm=jpg');
}
.SecondAvatar{
    background-image: url('https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg');
}
.ThirdAvatar{
    background-image: url('https://images.pexels.com/photos/8424940/pexels-photo-8424940.jpeg?cs=srgb&dl=pexels-pavel-danilyuk-8424940.jpg&fm=jpg');
}
.FourthAvatar{
    background-image: url('https://images.pexels.com/photos/2955376/pexels-photo-2955376.jpeg?cs=srgb&dl=pexels-teddy-joseph-2955376.jpg&fm=jpg');
}