.sidebar{
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* height: calc(100vh - 60px); */
    position: sticky;
    top: 0;
    z-index: 999;

}
.sidebarWrapper{
    width: 30px;
    height: 100%;
    position: relative;
}
.topAvatar{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: url('https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?cs=srgb&dl=pexels-masha-raymers-2726111.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.bottomAvatar{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: url('../../img/Photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.sidebarAccount{
    position: absolute;
    top: 50px;
}
.sidebarAccount div{
    margin: 10px 5px 10px 0px;
    cursor: pointer;
}
li.sidebarListItem{
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}
.sidebarList{
    position: absolute;
    bottom: 220px;
    list-style: none;
    position: absolute;
}  
.BottomMenu{
    position: absolute;
    bottom: 40px;
}
.BottomMenu li{
    margin: 15px 0px 15px 0px;
    list-style: none;
}