.sidebar{
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    position: sticky;
    top: 0;
    z-index: 999;

}
.sidebarWrapper{
    width: 30px;
    height: 100%;
}
.sidebarAccount{
/* flex: 10; */
}

.topAvatar{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: url('https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?cs=srgb&dl=pexels-masha-raymers-2726111.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.bottomAvatar{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: url('../../img/Photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.sidebarAccount div{
    margin: 10px 5px 10px 0px;
    /* align-items: center; */
}
li.sidebarListItem{
    margin: 10px 0px 10px 0px;
}
.sidebarList{
    list-style: none;
    /* margin: 10% 0 10% 0; */
}
 /* .topIconSidebar{
    width: 15px;
    height: 15px;
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}  */
.BottomMenu{
    display: grid;
    justify-content: space-evenly;
}
.BottomMenu li{
    margin: 10px 0px 10px 0px;
    list-style: none;
}